:host {
  display: block;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel-content {
  flex: 1;
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}