:host {
  display: block;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;

  &.previous {
    left: -30px;
  }

  &.next{
    right: -30px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}