<h3>List splitter with breakpoints</h3>

<ng-container #listSplitter="listSplitter" [listSplitter]="list" [chunkSize]="chunkSizeBreakpoints$ | async">
  <div *ngFor="let chunk of listSplitter.chunks$ | async" class="chunk">
    <div *ngFor="let item of chunk" class="item" [ngClass]="!item && 'empty'">{{ item }}</div>
  </div>
</ng-container>

<hr>

<h3>Carousel</h3>

<input type="checkbox" id="circular-checkbox" #circularCheckbox="ngModel" [ngModel]="false">
<label for="circular-checkbox">Circular carousel</label>

<app-carousel [circular]="circularCheckbox.value">
  <ng-container *ngFor="let item of list">
    <div *carouselItem class="item">{{ item }}</div>
  </ng-container>
</app-carousel>

<hr>

<h3>Carousel with list splitter</h3>

<input type="checkbox" id="circular-with-splitter-checkbox" #circularWithSplitterCheckbox="ngModel" [ngModel]="false">
<label for="circular-with-splitter-checkbox">Circular carousel</label>

<app-carousel position="1" [circular]="circularWithSplitterCheckbox.value">
  <ng-container #listSplitterCarousel="listSplitter" [listSplitter]="list" [chunkSize]="chunkSizeBreakpoints$ | async">
    <ng-container *ngFor="let chunk of listSplitterCarousel.chunks$ | async">
      <div *carouselItem class="chunk">
        <div *ngFor="let item of chunk" class="item" [ngClass]="!item && 'empty'">{{ item }}</div>
      </div>
    </ng-container>
  </ng-container>
</app-carousel>

<hr>

<h3>Carousel with list splitter and header items</h3>

<input type="checkbox" id="circular-with-splitter-header-items-checkbox"
  #circularWithSplitterHeaderItemsCheckbox="ngModel" [ngModel]="false">
<label for="circular-with-splitter-header-items-checkbox">Circular carousel</label>

<ng-container #listSplitterCarousel="listSplitter" [listSplitter]="list" [chunkSize]="chunkSizeBreakpoints$ | async">
  <div class="chunk">
    <div *ngFor="let item of (listSplitterCarousel.chunks$ | async | slice:0:1)[0]" class="item"
      [ngClass]="!item && 'empty'">{{ item }}</div>
  </div>
  <app-carousel [circular]="circularWithSplitterHeaderItemsCheckbox.value">
    <ng-container *ngFor="let chunk of listSplitterCarousel.chunks$ | async | slice:1">
      <div *carouselItem class="chunk">
        <div *ngFor="let item of chunk" class="item" [ngClass]="!item && 'empty'">{{ item }}</div>
      </div>
    </ng-container>
  </app-carousel>
</ng-container>