<!-- <h3>List splitter</h3>

<label for="input-list" style="margin-right: 5px;">Items per chunk</label>
<input type="number" id="input-list" #inputList="ngModel" ngModel="3">

<ng-container listSplitter [chunkSize]="inputList.value">
  <ng-template listChunkContainer let-itemsTmpl>
    <div class="splitted-list">
      <ng-container *ngFor="let itemTmpl of itemsTmpl">
        <ng-container *ngTemplateOutlet="itemTmpl || emptyTmpl"></ng-container>
        <ng-template #emptyTmpl>
          <div class="item empty"></div>
        </ng-template>
      </ng-container>
    </div>
  </ng-template>
  <ng-container *ngFor="let item of list">
    <div *listItem class="item">{{ item }}</div>
  </ng-container>
</ng-container>

<hr>

<h3>List splitter with breakpoints</h3>

<ng-container listSplitter [chunkSize]="chunkSizeBreakpoints$ | async">
  <ng-template listChunkContainer let-itemsTmpl>
    <div class="splitted-list">
      <ng-container *ngFor="let itemTmpl of itemsTmpl">
        <ng-container *ngTemplateOutlet="itemTmpl || emptyTmpl"></ng-container>
        <ng-template #emptyTmpl>
          <div class="item empty"></div>
        </ng-template>
      </ng-container>
    </div>
  </ng-template>
  <ng-container *ngFor="let item of list">
    <div *listItem class="item">{{ item }}</div>
  </ng-container>
</ng-container>

<hr>

<h3>Carousel</h3>

<input type="checkbox" id="circular-checkbox" #circularCheckbox="ngModel" [ngModel]="false">
<label for="circular-checkbox">Circular carousel</label>

<app-carousel [circular]="circularCheckbox.value">
  <ng-container *ngFor="let item of list">
    <div *carouselItem class="item">{{ item }}</div>
  </ng-container>
</app-carousel>

<hr>

<h3>Carousel with list splitter</h3>

<input type="checkbox" id="circular-with-splitter-checkbox" #circularWithSplitterCheckbox="ngModel" [ngModel]="false">
<label for="circular-with-splitter-checkbox">Circular carousel</label>

<app-carousel position="1" [circular]="circularWithSplitterCheckbox.value">
  <ng-container listSplitter [chunkSize]="chunkSizeBreakpoints$ | async">
    <ng-template listChunkContainer let-itemsTmpl>
      <div *carouselItem class="splitted-list">
        <ng-container *ngFor="let itemTmpl of itemsTmpl">
          <ng-container *ngTemplateOutlet="itemTmpl || emptyTmpl"></ng-container>
          <ng-template #emptyTmpl>
            <div class="item empty"></div>
          </ng-template>
        </ng-container>
      </div>
    </ng-template>
    <ng-container *ngFor="let item of list">
      <div *listItem class="item">{{ item }}</div>
    </ng-container>
  </ng-container>
</app-carousel>

<hr> -->

<h3>Carousel with list splitter and header items</h3>

<input type="checkbox" id="circular-with-splitter-header-items-checkbox"
  #circularWithSplitterHeaderItemsCheckbox="ngModel" [ngModel]="false">
<label for="circular-with-splitter-header-items-checkbox">Circular carousel</label>

<ng-container listSplitter [chunkSize]="chunkSizeBreakpoints$ | async">
  <app-carousel position="1" [circular]="circularWithSplitterHeaderItemsCheckbox.value">

    <ng-template listChunkContainer let-itemsTmpl>
      <div *carouselItem class="splitted-list">
        <ng-container *ngFor="let itemTmpl of itemsTmpl">
          <ng-container *ngTemplateOutlet="itemTmpl || emptyTmpl"></ng-container>
          <ng-template #emptyTmpl>
            <div class="item empty"></div>
          </ng-template>
        </ng-container>
      </div>
    </ng-template>
  </app-carousel>

  <ng-container *ngFor="let item of list">
    <div *listItem class="item">{{ item }}</div>
  </ng-container>
</ng-container>